@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=cyrillic-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* container */

.container-fluid {
    width: 96.88%;
    margin: 0 auto;
}
.container {
    max-width: 52.08%;
    margin: 0 auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* bgs */

.header {
    background: #311795;
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    max-height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-link {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0 0 0 16px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.nav-link.log-in-link {
    margin: 0 20px 0 0;
    font-size: 14px;
    line-height: 17px;
}

.log-in-link span {
    padding: 0 0 0 10px;
}

.nav-link.link-simple {
    text-decoration: underline;
}

.link-simple:hover, .link-simple:focus, .link-simple:active {
    text-decoration: none;
}

.link-simple:hover::after {
    position: absolute;
    z-index: -1;
    content: '';
    background: #ED2E5C;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: -8px;
    left: -5px;
}

/* main  */
.main-content {
    background: url(Rectangle.svg) #341a9b no-repeat top left;
    height: calc(100vh - 57px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main-title, .main-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-title {
    max-width: 442px;
}
.main-title h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-animation svg {
    width: 700px;
}
/*  0                       0
    1s анимация стадия 1    7.14
    1с стоп после стадии 1  14.28
    1с анимация стадия2     14.50
    .5с пульс               16.90
    1с стоп после стадии2   32.13
    1с анимация стадия3     39.27
    1с стоп после стадия 3  46.41
    1с анимация стадия4     46.66
    .5с пульс               57.12
    4с стоп после стадия 4  85.68
    1с анимация стадия 5    92.82
    .5 пульс                96.25
    1с стоп после стадия 5  100
 */

/* 7.69% - 1с времени */

/* внешняя стенка закрітій куб */

#_x33_ {
    display: none;
}
/* рахехавшиеся в сторони куби */
#_x34_{
    display: none;
}
/*разехавшиеся в стороні закрітіе куби*/
#_2 {
    /*display: none;*/

}
/*закрытый куб*/
#_1 {
    display: none;
}

.red-bottom-left {
    -webkit-animation: red-bottom-left--anim 14s;
    animation: red-bottom-left--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}


@-webkit-keyframes red-bottom-left--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1); }
    7.14% { -webkit-transform: translateX(58px) translateY(-30px) scale(1.1); transform: translateX(58px) translateY(-30px) scale(1.1); }
    14.28% { -webkit-transform: translateX(39px) translateY(-25px) scale(1.24); transform: translateX(39px) translateY(-25px) scale(1.24); }
    14.50% {-webkit-transform: translateX(44px) translateY(-25px) scale(1.24);transform: translateX(44px) translateY(-25px) scale(1.24);} /* pulse */
    16.90% {-webkit-transform: translateX(39px) translateY(-25px) scale(1.24);transform: translateX(39px) translateY(-25px) scale(1.24);}
    32.13% {-webkit-transform: translateX(39px) translateY(-25px) scale(1.24);transform: translateX(39px) translateY(-25px) scale(1.24);} /* cub stays opened to front */
    39.27% {-webkit-transform: translateX(58px) translateY(-30px) scale(1.1);transform: translateX(58px) translateY(-30px) scale(1.1);} /* cub closed */
    46.41% {-webkit-transform: translateX(-28px) translateY(-21px) scale(1.25);transform: translateX(-28px) translateY(-21px) scale(1.25);} /* cub opened all sides */
    46.66% {-webkit-transform: translateX(-28px) translateY(-26px) scale(1.25);transform: translateX(-28px) translateY(-26px) scale(1.25);} /* pulse */
    57.12% {-webkit-transform: translateX(-28px) translateY(-21px) scale(1.25);transform: translateX(-28px) translateY(-21px) scale(1.25);} /* cub opened all sides */
    85.68% {-webkit-transform: translateX(-28px) translateY(-21px) scale(1.25);transform: translateX(-28px) translateY(-21px) scale(1.25);} /* cub stays opened all sides */
    92.82% {-webkit-transform: translateX(58px) translateY(-30px) scale(1.1);transform: translateX(58px) translateY(-30px) scale(1.1);} /* cub closes */
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);} /*  */
    96.25% {-webkit-transform: translateX(5px) translateY(0px) scale(1);transform: translateX(5px) translateY(0px) scale(1);} /* pulse, to right */
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

.blue-top-left {
    -webkit-animation: blue-top-left--anim 14s;
    animation: blue-top-left--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}


@-webkit-keyframes blue-top-left--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1); }
    7.14% { -webkit-transform: translateX(57px) translateY(-32px) scale(1.11); transform: translateX(57px) translateY(-32px) scale(1.11); }
    14.28% { -webkit-transform: translateX(38px) translateY(-28px) scale(1.25); transform: translateX(38px) translateY(-28px) scale(1.25); }
    14.50% {-webkit-transform: translateX(43px) translateY(-28px) scale(1.25);transform: translateX(43px) translateY(-28px) scale(1.25);} /* pulse */
    16.90% {-webkit-transform: translateX(38px) translateY(-28px) scale(1.25);transform: translateX(38px) translateY(-28px) scale(1.25);}
    32.13% {-webkit-transform: translateX(38px) translateY(-28px) scale(1.25);transform: translateX(38px) translateY(-28px) scale(1.25);}
    39.27% {-webkit-transform: translateX(57px) translateY(-32px) scale(1.11);transform: translateX(57px) translateY(-32px) scale(1.11); }
    46.41% {-webkit-transform: translateX(-28px) translateY(-109px) scale(1.2);transform: translateX(-28px) translateY(-109px) scale(1.2);}
    46.66% {-webkit-transform: translateX(-28px) translateY(-114px) scale(1.2);transform: translateX(-28px) translateY(-114px) scale(1.2);}
    57.12% {-webkit-transform: translateX(-28px) translateY(-109px) scale(1.2);transform: translateX(-28px) translateY(-109px) scale(1.2);}
    85.68% {-webkit-transform: translateX(-28px) translateY(-109px) scale(1.2);transform: translateX(-28px) translateY(-109px) scale(1.2);}
    92.82% {-webkit-transform: translateX(57px) translateY(-32px) scale(1.11);transform: translateX(57px) translateY(-32px) scale(1.11);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(5px) translateY(0px) scale(1);transform: translateX(5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}


.green-bottom-left {
    -webkit-animation: green-bottom-left--anim 14s;
    animation: green-bottom-left--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}


@-webkit-keyframes green-bottom-left--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1); }
    7.14% {-webkit-transform: translateX(58px) translateY(-30px) scale(1.1);transform: translateX(58px) translateY(-30px) scale(1.1); }
    14.28% { -webkit-transform: translateX(116px) translateY(21px) scale(1.1); transform: translateX(116px) translateY(21px) scale(1.1); }
    14.50% {-webkit-transform: translateX(121px) translateY(21px) scale(1.1);transform: translateX(121px) translateY(21px) scale(1.1); } /* pulse */
    16.90% {-webkit-transform: translateX(116px) translateY(21px) scale(1.1);transform: translateX(116px) translateY(21px) scale(1.1); }
    32.13% {-webkit-transform: translateX(116px) translateY(21px) scale(1.1);transform: translateX(116px) translateY(21px) scale(1.1);}
    39.27% {-webkit-transform: translateX(58px) translateY(-30px) scale(1.1);transform: translateX(58px) translateY(-30px) scale(1.1);}
    46.41% {-webkit-transform: translateX(58px) translateY(63px) scale(1);transform: translateX(58px) translateY(63px) scale(1);}
    46.66% {-webkit-transform: translateX(58px) translateY(57px) scale(1);transform: translateX(58px) translateY(57px) scale(1);}
    57.12% {-webkit-transform: translateX(58px) translateY(63px) scale(1);transform: translateX(58px) translateY(63px) scale(1);}
    85.68% {-webkit-transform: translateX(58px) translateY(63px) scale(1);transform: translateX(58px) translateY(63px) scale(1);}
    92.82% {-webkit-transform: translateX(58px) translateY(-30px) scale(1.1);transform: translateX(58px) translateY(-30px) scale(1.1);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(5px) translateY(0px) scale(1);transform: translateX(5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

.red-top-left {
    -webkit-animation: red-top-left--anim 14s;
    animation: red-top-left--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes red-top-left--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1); }
    7.14% { -webkit-transform: translateX(58px) translateY(-28px) scale(1.1); transform: translateX(58px) translateY(-28px) scale(1.1); }
    14.28% { -webkit-transform: translateX(105px) translateY(4px) scale(1.167); transform: translateX(105px) translateY(4px) scale(1.167);}
    14.50% { -webkit-transform: translateX(110px) translateY(5px) scale(1.167); transform: translateX(110px) translateY(5px) scale(1.167);} /* pulse */
    16.90% {-webkit-transform: translateX(105px) translateY(4px) scale(1.167);transform: translateX(105px) translateY(4px) scale(1.167);}
    32.13% {-webkit-transform: translateX(105px) translateY(4px) scale(1.167);transform: translateX(105px) translateY(4px) scale(1.167);}
    39.27% {-webkit-transform: translateX(58px) translateY(-28px) scale(1.1);transform: translateX(58px) translateY(-28px) scale(1.1);}
    46.41% {-webkit-transform: translateX(70px) translateY(-15px) scale(.93);transform: translateX(70px) translateY(-15px) scale(.93);}
    46.66% {-webkit-transform: translateX(70px) translateY(-20px) scale(.93);transform: translateX(70px) translateY(-20px) scale(.93);}
    57.12% {-webkit-transform: translateX(70px) translateY(-15px) scale(.93);transform: translateX(70px) translateY(-15px) scale(.93);}
    85.68% {-webkit-transform: translateX(70px) translateY(-15px) scale(.93);transform: translateX(70px) translateY(-15px) scale(.93);}
    92.82% {-webkit-transform: translateX(58px) translateY(-28px) scale(1.1);transform: translateX(58px) translateY(-28px) scale(1.1);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(5px) translateY(0px) scale(1);transform: translateX(5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

.blue-top-right {
    -webkit-animation: blue-top-right--anim 14s;
    animation: blue-top-right--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes blue-top-right--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1);}
    7.14% { -webkit-transform: translateX(-110px) translateY(1px) scale(.98); transform: translateX(-110px) translateY(1px) scale(.98); }
    14.28% {-webkit-transform: translateX(-149px) translateY(9px) scale(1.1);transform: translateX(-149px) translateY(9px) scale(1.1); }
    14.50% { -webkit-transform: translateX(-144px) translateY(9px) scale(1.1); transform: translateX(-144px) translateY(9px) scale(1.1);} /* pulse */
    16.90% {-webkit-transform: translateX(-149px) translateY(9px) scale(1.1);transform: translateX(-149px) translateY(9px) scale(1.1);}
    32.13% {-webkit-transform: translateX(-149px) translateY(9px) scale(1.1);transform: translateX(-149px) translateY(9px) scale(1.1);}
    39.27% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    46.41% {-webkit-transform: translateX(-11px) translateY(-53px) scale(1);transform: translateX(-11px) translateY(-53px) scale(1);}
    46.66% {-webkit-transform: translateX(-11px) translateY(-58px) scale(1);transform: translateX(-11px) translateY(-58px) scale(1);}
    57.12% {-webkit-transform: translateX(-11px) translateY(-53px) scale(1);transform: translateX(-11px) translateY(-53px) scale(1);}
    85.68% {-webkit-transform: translateX(-11px) translateY(-53px) scale(1);transform: translateX(-11px) translateY(-53px) scale(1);}
    92.82% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(-5px) translateY(0px) scale(1);transform: translateX(-5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

.green-top-right {
    -webkit-animation: green-top-right--anim 14s;
    animation: green-top-right--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes green-top-right--anim {
    0% {  -webkit-transform: translateX(0px) translateY(0px) scale(1);  transform: translateX(0px) translateY(0px) scale(1); }
    7.14% { -webkit-transform: translateX(-110px) translateY(1px) scale(.98); transform: translateX(-110px) translateY(1px) scale(.98); }
    14.28% { -webkit-transform: translateX(-60px) translateY(43px) scale(1); transform: translateX(-60px) translateY(43px) scale(1); }
    14.50% { -webkit-transform: translateX(-55px) translateY(43px) scale(1); transform: translateX(-55px) translateY(43px) scale(1);} /* pulse */
    16.90% {-webkit-transform: translateX(-60px) translateY(43px) scale(1);transform: translateX(-60px) translateY(43px) scale(1);}
    32.13% {-webkit-transform: translateX(-60px) translateY(43px) scale(1);transform: translateX(-60px) translateY(43px) scale(1);}
    39.27% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    46.41% {-webkit-transform: translateX(66px) translateY(0px) scale(.9);transform: translateX(66px) translateY(0px) scale(.9);}
    46.66% {-webkit-transform: translateX(66px) translateY(-5px) scale(.9);transform: translateX(66px) translateY(-5px) scale(.9);}
    57.12% {-webkit-transform: translateX(66px) translateY(0px) scale(.9);transform: translateX(66px) translateY(0px) scale(.9);}
    85.68% {-webkit-transform: translateX(66px) translateY(0px) scale(.9);transform: translateX(66px) translateY(0px) scale(.9);}
    92.82% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(-5px) translateY(0px) scale(1);transform: translateX(-5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

.green-bottom-right {
    -webkit-animation: green-bottom-right--anim 14s;
    animation: green-bottom-right--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes green-bottom-right--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1); }
    7.14% { -webkit-transform: translateX(-110px) translateY(1px) scale(.98); transform: translateX(-110px) translateY(1px) scale(.98); }
    14.28% {-webkit-transform: translateX(-149px) translateY(9px) scale(1.1);transform: translateX(-149px) translateY(9px) scale(1.1);  }
    14.50% { -webkit-transform: translateX(-144px) translateY(9px) scale(1.1); transform: translateX(-144px) translateY(9px) scale(1.1);} /* pulse */
    16.90% {-webkit-transform: translateX(-149px) translateY(9px) scale(1.1);transform: translateX(-149px) translateY(9px) scale(1.1); }
    32.13% {-webkit-transform: translateX(-149px) translateY(9px) scale(1.1);transform: translateX(-149px) translateY(9px) scale(1.1);}
    39.27% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    46.41% {-webkit-transform: translateX(-63px) translateY(23px) scale(1.1);transform: translateX(-63px) translateY(23px) scale(1.1);}
    46.66% {-webkit-transform: translateX(-63px) translateY(18px) scale(1.1);transform: translateX(-63px) translateY(18px) scale(1.1);}
    57.12% {-webkit-transform: translateX(-63px) translateY(23px) scale(1.1);transform: translateX(-63px) translateY(23px) scale(1.1);}
    85.68% {-webkit-transform: translateX(-63px) translateY(23px) scale(1.1);transform: translateX(-63px) translateY(23px) scale(1.1);}
    92.82% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(-5px) translateY(0px) scale(1);transform: translateX(-5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

.blue-bottom-right {
    -webkit-animation: blue-bottom-right--anim 14s;
    animation: blue-bottom-right--anim 14s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes blue-bottom-right--anim {
    0% { -webkit-transform: translateX(0px) translateY(0px) scale(1); transform: translateX(0px) translateY(0px) scale(1); }
    7.14% { -webkit-transform: translateX(-110px) translateY(1px) scale(.98); transform: translateX(-110px) translateY(1px) scale(.98); }
    14.28% { -webkit-transform: translateX(-60px) translateY(43px) scale(1); transform: translateX(-60px) translateY(43px) scale(1);}
    14.50% {-webkit-transform: translateX(-55px) translateY(43px) scale(1);transform: translateX(-55px) translateY(43px) scale(1);} /* pulse */
    16.90% {-webkit-transform: translateX(-60px) translateY(43px) scale(1);transform: translateX(-60px) translateY(43px) scale(1);}
    32.13% {-webkit-transform: translateX(-60px) translateY(43px) scale(1);transform: translateX(-60px) translateY(43px) scale(1);}
    39.27% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    46.41% {-webkit-transform: translateX(60px) translateY(96px) scale(.907);transform: translateX(60px) translateY(96px) scale(.907);}
    46.66% {-webkit-transform: translateX(60px) translateY(91px) scale(.907);transform: translateX(60px) translateY(91px) scale(.907);}
    57.12% {-webkit-transform: translateX(60px) translateY(96px) scale(.907);transform: translateX(60px) translateY(96px) scale(.907);}
    85.68% {-webkit-transform: translateX(60px) translateY(96px) scale(.907);transform: translateX(60px) translateY(96px) scale(.907);}
    92.82% {-webkit-transform: translateX(-110px) translateY(1px) scale(.98);transform: translateX(-110px) translateY(1px) scale(.98);}
    96.00% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
    96.25% {-webkit-transform: translateX(-5px) translateY(0px) scale(1);transform: translateX(-5px) translateY(0px) scale(1);}
    100% {-webkit-transform: translateX(0px) translateY(0px) scale(1);transform: translateX(0px) translateY(0px) scale(1);}
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 80%;
    }
    .main-animation svg {
        padding: 50px 0;
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .main-animation svg {
        padding: 50px 0;
        max-width: 100%;
        max-height: 40vh;
    }
    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (max-width: 425px) {
    .navbar {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .navbar-brand svg {
        max-width: 75px;
    }
    .nav-link.log-in-link {
        margin: unset;
        font-size: 13px;
    }

}