html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #FFF;
	font-family: Arial, sans-serif;
}

ol, ul {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}


/* LANDING CODE */

#header {
	position: absolute;
	top: 20px;
	/* centered */
	left: 0;
	right: 0;
	width: 100%;
	/* centered end */
	padding: 20px 0;
}
.logo {
	float: left;
}
.nav {
	float: right;
	padding-top: 5px;
}
.nav li {
	float: left;
	margin-right: 40px;
}
.nav li:last-child {
	margin-right: 0;
}
.nav a:hover {
	color: #fed136;
}
.nav a {
	text-transform: uppercase;
	font: 14px Arial, sans-serif;
	color: #ffffff;
}
#home {
	height: 700px;
	padding-top: 270px;
	text-align: center;
	background: #222 url(../img/bg.jpg) no-repeat center bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#home h3 {
	margin-bottom: 40px;
	color: #ffffff;
	font: 40px/40px Arial, sans-serif;
}
.home-header {
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'Permanent Marker', cursive;
	font-size: 70px;
	background-color: #fed136;
	width: 560px;
	text-align: center;
}
.btn {
	display: inline-block;
	background-color: #fed136;
	padding: 20px 30px;
	margin-top: 70px;
	height: 65px;
	font: 24px/24px Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	outline: none;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
.btn:hover {
	background-color: #daae17;
	color: #ffffff;
}
.box {
	padding: 60px 0;
}
#services {
	text-align: center;
}
h2.title {
	font-family: 'Comfortaa', cursive;
	color: #222222;
	text-transform: uppercase;
	font-size: 30px;
}
h5.title {
	margin-bottom: 10px;
	color: #222222;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
}
.descr {
	font-size: 12px;
	color: #777777;
	text-transform: uppercase;
}
.portfolio-wrap,
.about-wrap {
	padding-top: 60px;
}
.services-wrap p {
	font-size: 15px;
	color: #666666;
}
.services-item {
	float: left;
	padding: 50px 10px 0;
	line-height: 24px;
}
.commerce {
	background: url(../img/icon-basket.png) no-repeat center top;
}
.responsive {
	background: url(../img/icon-laptop.png) no-repeat center top;
}
.security {
	background: url(../img/icon-locked.png) no-repeat center top;
}
.sale-img {
	max-width: 100%;
	height: auto;
	display: flex;
	align-self: center;
}
#portfolio {
	text-align: center;
	background-color: #f7f7f7;
}
.portfolio-item {
	background-color: #ffffff;
}
.portfolio-item span {
	color: #737373;
}
.item {
	width: 200px;
	height: 200px;
	margin: auto;
	align-items: center;
	display: flex;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3), {
	margin-bottom: 0;
}
.p-item-footer {
	padding: 25px 20px;
}
.p-item-footer h5.title {
	margin-bottom: 4px;
}
#about {
	text-align: center;
}
.about-text {
	width: 35%;
	
}

.about-text h5 {
	line-height: 24px;
}
.about-text h5 span {
	text-transform: uppercase;
}
.about-text p {
	line-height: 24px;
	color: #777777;
	font-size: 16px;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.about-img {
	width: 30%;
	
}
.about-img img, .about-link {
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
}
.about-img:after {
	content: '';
	display: block;
	width: 3px;
	height: 100px;
	margin: 0 auto;
	background: #f1f1f1;
}
.about-link {
	padding-top: 40px;
	background-color: #fed136;
	color: #ffffff;
	line-height: 30px;
	font: bold 18px/24px Arial, sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}
.text-left {
	text-align: right;
	padding: 15px;
	background-color: #dcdcdc38;
	height: 100px;
	margin-top: 25px;
}
.text-right {
	text-align: left;
	padding: 15px;
	background-color: #dcdcdc38;
	height: 100px;
	margin-top: 25px;
}
.about-right {
	text-align: left;
	padding-top: 0px;
}
.text-left:before {
	background: url("http://www.karta.ua/user/img/hi-left-ar.png") no-repeat center;
	right: -10px;
	content: ' ';
	width: 10px;
	height: 15px;
	position: absolute;
	top: 41px;
}
.text-left:hover {
	border: 2px solid #ffffff;
	text-align: right;
	padding: 15px;
	background-color: #dcdcdc38;
	height: 102px;
	margin-top: 25px;
}
.text-right:before {
	background: url("http://www.karta.ua/user/img/hi-left-ar.png") no-repeat center;
	left: -10px;
	content: ' ';
	width: 10px;
	height: 15px;
	position: absolute;
	top: 41px;
	transform: rotate(180deg);
}
.text-right:hover {
	border: 2px solid #ffffff;
	text-align: left;
	padding: 15px;
	background-color: #dcdcdc38;
	height: 102px;
	margin-top: 25px;
}
#team {
	text-align: center;
	background-color: #f9f9f9;
	
}
.team-wrap {
	padding-top: 85px;
}
.team-item {
	display: inline-block;
	padding-right: 45px;
}
.team-item:nth-child(3) {
	padding: 0;
}
.team-text h5 {
	padding-top: 25px;
}
.team-img img {
	border: 7px solid #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
}
.team-text p {
	font-size: 14px; 
	color: #a0a0a0;
}
.team-social {
	padding-top: 15px;
}
#tw, #fb, #pn {
	margin-right: 10px;
}
#tw {
	display: inline-block;
	
	width: 41px;
	height: 41px;
	background: url(../img/tw.png) no-repeat center top;
}
#tw:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/tw_h.png) no-repeat center top;
}

#fb {
	display: inline-block;

	width: 41px;
	height: 41px;
	background: url(../img/fb.png) no-repeat center top;
}
#fb:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/fb_h.png) no-repeat center top;
}

#pn {
	display: inline-block;
	margin: 0px;
	width: 41px;
	height: 41px;
	background: url(../img/pn.png) no-repeat center top;
}
#pn:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/pn_h.png) no-repeat center top;
}

#g {
	display: inline-block;
	margin: 0px;
	width: 41px;
	height: 41px;
	background: url(../img/g.png) no-repeat center top;
}
#g:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/g_h.png) no-repeat center top;
}
.team-p {
	margin-top: 50px;
	font-size: 16px/16px;
}
.logo img {
	width: 100%;
}
#contact {
	height: 700px;
	background: #222 url(../img/map.png) no-repeat center bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#contact .title  {
	color: #ffffff;
	text-align: center;
}
#contact p {
	text-align: center;
}
form {
	display: inline-block;
	padding-top: 80px;
}
#contact input {
	border-radius: 3px;
	border: 1px solid #888888;
	padding-top: 20px;
	padding-left: 20px;
}

input::-webkit-input-placeholder { 
	color: #bbbbbb;
	font: bold 14px/14px Arial, sans-serif;
}
input::-moz-placeholder {
	color: #bbbbbb;
	font: bold 14px/14px Arial, sans-serif;
}      
input:-moz-placeholder {    
	color: #bbbbbb;
	font: bold 14px/14px Arial, sans-serif;
}        
input:-ms-input-placeholder {    
	color: #bbbbbb;
	font: bold 14px/14px Arial, sans-serif;
}
textarea {
	font: bold 14px/14px Arial, sans-serif;
	color: #bbbbbb;
	padding-top: 20px;
	padding-left: 20px;
	border-radius: 3px;
	border: 1px solid #888888;
	resize: none;
}

#contact a {
	color: #ffffff;
	font-size: 22px;
}
.footer-box {
	height: 90px;
}
.footer-box .team-social {
	margin-top: 20px;
	text-align: center;
}
/* FOOTER STYLES */
a#tw1, a#fb1, a#pn1, {
	margin-left: 10px;
}
#tw1 {
	display: inline-block;
	
	width: 41px;
	height: 41px;
	background: url(../img/tw1.png) no-repeat center top;
}
#tw1:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/tw_h.png) no-repeat center top;
}

#fb1 {
	display: inline-block;

	width: 41px;
	height: 41px;
	background: url(../img/fb1.png) no-repeat center top;
}
#fb1:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/fb_h.png) no-repeat center top;
}

#pn1 {
	display: inline-block;
	margin: 0px;
	width: 41px;
	height: 41px;
	background: url(../img/pn1.png) no-repeat center top;
}
#pn1:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/pn_h.png) no-repeat center top;
}

#g1 {
	display: inline-block;
	margin: 0px;
	width: 41px;
	height: 41px;
	background: url(../img/g.png) no-repeat center top;
}
#g1:hover {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../img/g_h.png) no-repeat center top;
}

@media screen and (max-width: 767px) {
	.home-header {
		font-size: 30px;
		width: 270px;
	}
	.btn {
		padding: 15px 5px;
		height: 55px;
	}
}